<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Security.Thumbprint" value="**********" />
		<add key="NetBuild.DbConnection" value="Server=**********; Database=NetBuild; User Id=**********; Password=**********;" />
		<add key="NetBuild.DbPassword" value="**********" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>
